<h1>Creador de color</h1>

<input id="Red" type="text" value="0" class="dial" data-linecap=round>
<input id="Green" type="text" value="0" class="dial" data-linecap=round>
<input id="Blue" type="text" value="0" class="dial" data-linecap=round>

<div class="">
  <span>RGB (</span>
  <span id="redtext"></span>
  <span id="greentext"></span>
  <span id="bluetext"></span>
</div>

<div id="box" style="width:200px; height:200px">
</div>
