<h1>RGB-erator!!</h1>

<input id="Red" type="text" value="0" class="dial" data-linecap=round data-fgColor="#FF0000">
<input id="Green" type="text" value="0" class="dial" data-linecap=round data-fgColor="#00FF00">
<input id="Blue" type="text" value="0" class="dial" data-linecap=round data-fgColor="#0000FF">

<div class="" >
  <span>RGB (</span>
  <span id="redtext"></span>
  <span id="greentext"></span>
  <span id="bluetext"></span>
</div>

<div id="box" style="width:200px; height:200px; border-radius: 50%">
</div>
